<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>移动演示.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D752EDC71D4F023C007C77A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D752EDE01D4F023C007C77A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D752EDEB1D4F023C007C77A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
